h1.h4 {
  margin-top: 0;
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
  background: #000000;
  border-bottom: 0.1rem solid #d1d1d1;
  font-weight: 300;
}

h1.h4 a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
