<div class="animated fadeIn">
  <h2 class="h5 mode-name">{{modeName}}</h2>
  <div class="container">
    <div class="col1" *ngIf="templateNo">
      <img src="./assets/img/template{{templateNo}}.png" width="250">
    </div>
    <div class="col2" *ngIf="tsumo">
      <div><img [src]="tsumo[0].imgUrlNext" [alt]="tsumo[0].shape" width="55"></div>
      <div><img [src]="tsumo[1].imgUrl" [alt]="tsumo[1].shape" width="48"></div>
      <div><img [src]="tsumo[2].imgUrl" [alt]="tsumo[2].shape" width="48"></div>
      <div><img [src]="tsumo[3].imgUrl" [alt]="tsumo[3].shape" width="48"></div>
    </div>
  </div>

  <div>
    <div class="h5 answer-message">
      <p>{{answerMessage}}</p>
      <ng-container *ngIf="0 < needCorrectCount">
        <p>
          {{ '時間' | translate }}:&nbsp;<app-stopwatch (timeChanges)="time=$event"></app-stopwatch>
        </p>
        <p>
          {{ '正解数' | translate }}:&nbsp;{{correctCount}}&nbsp;/&nbsp;{{needCorrectCount}}
          &nbsp;×: {{wrongCount}}
        </p>
      </ng-container>
    </div>

    <p style="margin-left: -50px">
      <span>
        <ng-container [ngSwitch]="answerMark1">
          <!-- レイアウト調整 -->
          <span *ngSwitchCase="undefined" class="mark1" style="cursor: pointer;" (click)="answer(1)"></span>
          <!-- マルバツ判定 -->
          <img *ngSwitchCase="1" src="./assets/img/mark_maru.png" width="50" height="50" class="mark1 animated jello">
          <img *ngSwitchCase="2" src="./assets/img/mark_batsu.png" width="50" height="50" class="mark1 animated jello">
        </ng-container>
        <button type="buttton" class="button button-black" (click)="answer(1)"
          [disabled]="answerShowed">{{ 'はい' | translate }}</button>&nbsp;
      </span>
      <span>
        <ng-container [ngSwitch]="answerMark3">
          <!-- レイアウト調整 -->
          <span *ngSwitchCase="undefined" class="mark3" style="cursor: pointer;" (click)="answer(3)"></span>
          <!-- マルバツ判定 -->
          <img *ngSwitchCase="1" src="./assets/img/mark_maru.png" width="50" height="50" class="mark3 animated jello">
          <img *ngSwitchCase="2" src="./assets/img/mark_batsu.png" width="50" height="50" class="mark3 animated jello">
        </ng-container>
        <button type="buttton" class="button button-black" (click)="answer(3)"
          [disabled]="answerShowed">{{ 'いいえ' | translate }}</button>
      </span>
    </p>
    <p *ngIf="!needCorrectCount || correctCount < needCorrectCount">
      <a *ngIf="isDebug" [routerLink]="['/', lang, 'play']"
        class="button button-black button-outline">{{ '次のツモ' | translate }}</a>
      <button *ngIf="!isDebug" type="buttton" class="button-black button-outline"
        (click)="getTsumo()">{{ '次のツモ' | translate }}</button>
    </p>
    <ng-container *ngIf="needCorrectCount && needCorrectCount <= correctCount">
      <p>
        {{ 'おめでとう' | translate:{value:correctCount} }}
      </p>
      <p>
        <a (click)="retry()" class="button button-black button-outline">{{ 'もう一度' | translate }}</a>&nbsp;
        <a href="./{{lang}}" class="button button-black button-outline">{{ 'メニューへ' | translate }}</a>&nbsp;
      </p>
    </ng-container>
  </div>

  <!-- パフェパターン表示 -->
  <table *ngIf="perfectMino.length > 0">
    <thead>
      <th>{{ '一つ目' | translate}}</th>
      <th>{{ '二つ目' | translate}}</th>
      <th>{{ '三つ目' | translate}}</th>
      <th>{{ 'テト譜' | translate}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let minos of perfectMino; let i = index">
        <td *ngFor="let mino of minos">
          <img [src]="mino.imgUrl" [alt]="mino.shape" width="48">
        </td>
        <td>
          <a [href]="tetofu[i]" target="_blank" rel="nofollow noreferrer noopener"
            class="button button-black button-outline button-small">{{ 'テト譜' | translate}}</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <p>
    <a [routerLink]="['/', lang]" class="button button-black button-outline">{{ 'メニューへ' | translate }}</a>&nbsp;
  </p>
</div>