<div class="animated fadeIn">
  <p class="description">{{description}}</p>

  <p *ngIf="lang !== 'en'"><a routerLink="/en">{{ '英語版はこちら' | translate }}</a></p>
  <p *ngIf="lang !== 'ja'"><a routerLink="/ja">{{ '日本語版はこちら' | translate }}</a></p>
  <p *ngIf="lang !== 'ko'"><a routerLink="/ko">{{ '韓国語版はこちら' | translate }}</a></p>

  <div class="select-mode" *ngIf="start">
    <h2 class="h5">{{ '練習モード' | translate }}</h2>
    <p class="description">{{ '練習モード説明' | translate }}</p>
    <p>
      <a routerLink="/{{lang}}/play" class="button button-black button-outline" rel="nofollow">{{start}}</a>
    </p>

    <h2 class="h5">{{ 'タイムアタックモード' | translate }}</h2>
    <p class="description">{{ 'タイムアタックモード説明' | translate }}</p>
    <p>
      <a routerLink="/{{lang}}/play/10times" class="button button-black button-outline" rel="nofollow">{{ '10回に挑戦' |
        translate }}</a>&nbsp;<br>
      <a routerLink="/{{lang}}/play/20times" class="button button-black button-outline" rel="nofollow">{{ '20回に挑戦' |
        translate }}</a>&nbsp;<br>
      <a routerLink="/{{lang}}/play/40times" class="button button-black button-outline" rel="nofollow">{{ '40回に挑戦' |
        translate }}</a>&nbsp;<br>
    </p>
  </div>
  <br>

  <div class="select-mode" *ngIf="start">
    <h2 class="h5">{{ 'スコア' | translate }}</h2>
    <p class="description">{{ 'スコア説明' | translate:{value:answerdLimit.toLocaleString()} }}</p>
    <p>
      <a routerLink="/{{lang}}/score" class="button button-black button-outline" rel="nofollow">{{ '見る' | translate
        }}</a>
    </p>
  </div>
</div>