.description {
  margin-top: 2.5rem;
}
.select-mode {
  display: inline-block;
  width: 80%;
  max-width: 500px;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.5);

  h2 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .description {
    margin-top: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2.5rem;
    text-align: left;
  }

  br {
    display: initial;
  }
  /* Larger than mobile screen */
  @media (min-width: 40rem) {
    br {
      display: none;
    }
  }
}
